<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smilegzc.spring_account.mapper.ProductMapper">
<!--    Collection<Product> getProducts();-->
    <select id="getProducts" resultMap="product_map">
        select * from product
    </select>
<!--    Product getProductById(int id);-->
    <select id="getProductById" resultMap="product_map">
        select * from product where id=#{id}
    </select>
<!--    Product getProductByName(String name);-->
    <select id="getProductByName" resultMap="product_map">
        select * from product where name = #{name}
    </select>
    
    <resultMap id="product_map" type="com.smilegzc.spring_account.entity.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="purchase" column="purchase"/>
        <result property="sell" column="sell"/>
        <result property="number" column="number"/>
    </resultMap>
    
<!--    void setProduct(Product product);-->
    <insert id="setProduct">
        insert into product(name, purchase, sell, number) VALUES (#{name}, #{purchase}, #{sell}, #{number})
    </insert>
<!--    void delProduct(Product product);-->
    <delete id="delProduct">
        delete from product where id=#{id}
    </delete>
<!--    void updateProduct(Product product);-->
    <update id="updateProduct">
        update product set name=#{name}, purchase=#{purchase}, sell=#{sell}, number=#{number} where id=#{id}
    </update>
    
<!--    void purchaseProduct(Product product);-->
    <update id="purchaseProduct">
        insert into sell_product(name, purchase, number, creat_date) VALUES (#{name}, #{purchase}, #{number},now())
    </update>

<!--    Collection<PurchaseProduct> getPurchaseByDates(String start, String end);-->
    <select id="getPurchaseByDates" resultMap="purchaseMap">
        select * from sell_product where DATE_FORMAT(creat_date, '%Y%m%d') between #{start} and #{end}
    </select>
    <resultMap id="purchaseMap" type="com.smilegzc.spring_account.entity.PurchaseProduct">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="purchase" column="purchase"/>
        <result property="number" column="number"/>
        <result property="creatDate" column="creat_date"/>
    </resultMap>
<!--    void delPurchaseById(int id);-->
    <delete id="delPurchaseById">
        delete from sell_product where id=#{id}
    </delete>
</mapper>